.header_input {
    margin: 0 auto;
    width: 582px;
    height: 40px;
    padding-left: 15px;
    background: linear-gradient(0deg, #F6F6F6, #F6F6F6), #FEFEFE;
    border: 1px solid #E2E2E2;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.header-input:focus {
    outline-color: #38B46C;
}
.header_input-icon{
    background: url(../../../assets/images/design/Search.svg) no-repeat #e6e6e6;
    background-position: 12px;
    padding-left: 35px;
    margin-left: 20px;
}
@media screen and (max-width: 767px) {
    
    .header_logo {
      margin: 0 auto;
      margin-bottom: 10px;
      -webkit-animation-name: appearance-logo;
              animation-name: appearance-logo;
      -webkit-animation-duration: 2s;
              animation-duration: 2s;
    }
    @-webkit-keyframes appearance-logo {
      0% {
        opacity: 0;
        transform: translateX(-300px);
      }
      100% {
        transform: translateX(0px);
      }
    }
    @keyframes appearance-logo {
      0% {
        opacity: 0;
        transform: translateX(-300px);
      }
      100% {
        transform: translateX(0px);
      }
    }
    .header_input {
      min-width: 247px;
      height: 25px;
      font-size: 10px;
    }
    .header_input-icon {
      margin-left: 0px;
    }
  
    
  }
  