.submenu-container {
    max-width: 759px;
    margin: 0 auto;
  }
  .submenu-container_submenu {
    display: flex;
    list-style-type: none;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
  }
  .submenu-container_submenu a {
    height: 30px;
    width: 175px;
    margin-top: -9px;
    padding-top: 16px;
    line-height: 19px;
    text-align: center;
    font-weight: 900;
    color: #A9ABAC;
    border-top: 1px solid #e2e2e2;
    text-decoration: none;
  }
  .submenu-container_submenu a.active {
    border-top: 4px solid #2F80ED;
    color: #53565A;
    transition: all 0.15s ease;
  }
  .submenu-container_submenu a:focus {
    outline-color: #38B46C;
  }
  